.carrousel {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.carrousel img {
    width: 250px;
    height: auto;
    margin-right: 10px;
    box-shadow: 3px 3px 5px #808080; 
    border-radius: 10px; 
    transition: opacity 0.3s;  
}

.carrousel img:hover {
    opacity: 0.5;
    cursor: pointer;
}


