.menu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    position: relative;
    align-items: center;
}

.menu td {
    width: 20%;
    text-align: center;
}



h3 {
    color: black;
}

.plats {
    display: flex;

}

.plat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: -2%;
}

h1 {
    text-align: center;
}

.contenu {
    margin-left: 30%;
}

.plat img {
    display: block;
    top: -5rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 20 rem;margin-bottom: 20 rem;
    z-index: 10;
    box-shadow: 3px 3px 5px #808080;
    border-radius: 10px;
    transition: opacity 0.3s;
    width: 21,33rem;
    height: 12rem;
}

.plat img:hover {
    opacity: 0.2;
    cursor: pointer;
}

.navigation {
    margin-top: 1.5%;
}

.categories {
    margin-top: 4%;
}

.choix {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panier {
    /* Positionne le panier à droite et hors de la vue par défaut */
    position: fixed;
    right: -300px;
    /* Assurez-vous que cela correspond à la largeur du panier */
    width: 300px;
    height: 100%;
    background: #f8f9fa;
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.5s ease;
    color: black;
}

.panier.ouvert {
    /* Lorsque le panier est ouvert, il se déplace vers la gauche pour être visible */
    right: 0;
}
