.plats {
    display: flex;

}

.plat {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black;
}

.plat img{
    position: absolute;
    top: 80px;
    z-index: 10;
    box-shadow: 3px 3px 5px #808080; 
    border-radius: 10px; 
    transition: opacity 0.3s;  
}

.plat img:hover {
    opacity: 0.2;
    cursor: pointer;
}