.menu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    position: relative;
    align-items: center;
}

.menu td {
    width: 20%;
    text-align: center;
}



h3 {
    color: black;
}

.plats {
    display: flex;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.platspetit {
    display: flex;
    margin-top: 4%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 2.5%;
}

#div1 {
    margin-top: -5%;
}

.plat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: -2%;
}

h1 {
    text-align: center;
}

.contenu {
    margin-left: 25%;
    margin-right: 25%;
}

.contenu img {
    width: 5rem;
    height: 5rem;
}

.plat img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 4%;
    z-index: 10;
    box-shadow: 3px 3px 5px #808080;
    border-radius: 10px;
    transition: opacity 0.3s;
    width: 12rem;
    height: 12rem;

}


.plat img:hover {
    opacity: 0.2;
    cursor: pointer;
}

#chaud {
    width: 2rem;
    height: 2rem;
    z-index: 1;
    box-shadow: 0px 0px 0px #fff;
    border-radius: 0px;
}

.navigation {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.categories {
    margin-top: 4%;
}

.choix {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.behind {
    margin-top: -12rem;
}

.behind2 {
    margin-top: -13rem;
    margin-bottom: 8rem;
    margin-left: 16rem;
}

.panier {
    /* Positionne le panier à droite et hors de la vue par défaut */
    position: fixed;
    top: 70px;
    right: -300px;
    width: 300px;
    height: 100%;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.5s ease;
    color: black;
}

.panier.ouvert {
    /* Lorsque le panier est ouvert, il se déplace vers la gauche pour être visible */
    right: 0;
}

.presentation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.contenu_plat {
    flex-basis: 60%;
    margin: 5%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.contenu_plat img {
    display: inline-block;
    margin-left: 6rem;
    margin-top: 2rem; 
    margin-right: auto;
    position: relative;
    margin-bottom: 20 rem;
    margin-bottom: 20 rem;
    z-index: 10;
    box-shadow: 3px 3px 5px #808080;
    border-radius: 10px;
    transition: opacity 0.3s;
    width: 14, 22rem;
    height: 16rem;
}

.contenu_plat img:hover {
    opacity: 0.2;
    cursor: pointer;
}

.contenu_plat h1,
.contenu_plat h2 {
    color: #333;
}

.contenu_plat p {
    color: #666;
}

.choix {
    display: block;
    margin-top: 20px;
}

#ajouterAuPanier {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#afficherPanier {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#ajouterAuPanier:hover {
    background-color: #555;
}

.afficherPanier:hover{
    background-color: #555;
}

.fermerPanier,
.viderPanier,
.commander {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.fermerPanier:hover,
.viderPanier:hover,
.commander:hover {
    background-color: #555;
}