/* Style du header et du menu de navigation */
header {
    background-color: #333;
    display: flex;
    color: #fff;   
    justify-content: space-between; 
    
    padding: 1rem;
    position: fixed;
    top: 0; /* En-tête fixé en haut de la fenêtre */
    left: 0;
    width: 100%; /* En-tête occupe toute la largeur de la fenêtre */
    z-index: 100;
}

header img {
    width: 40px;
    height: 40px;
}

.login{
    display:flex;
    align-items: center
}

a{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

nav{
    display:block;
    text-align: center;
}




