/* Style de la section de présentation */
.presentation {
    text-align: center;
    padding: 2rem;
}

.presentation h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.presentation p {
    font-size: 1.2rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 1rem;
}

.bouton {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.bouton:hover {
    background-color: #555;
}

.infos {
    display: flex;
}

.derniere_commande {
    display: block;
    height: 300px;
    width: 500px;
    background-color: #f4f4f4;
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #808080; 
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    overflow:auto;
}


.horaires-ouverture {
    display: block;
    height: 260px;
    width: 400px;
    background-color: #f4f4f4;
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #808080; 
    border-radius: 5px;
    margin-left: 18%;
    overflow:auto;
}

.horaires-ouverture h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

#cercle {
    width: 20px;
    height: 20px;
    /* Couleur verte */
    border-radius: 50%;
    /* Crée un cercle */
    display: inline-block;
    margin-left: 20px;
    /* Espacement entre le titre et le cercle */
}

.horaires-ouverture p {
    font-size: 1.2rem;
    margin: 5px 0;
    text-align: end;
}

.carte {
    margin-right: 15%;
    margin-left: 10%;
}

.contact {
    display: block;
    height: 550px;
    width: 400px;
    background-color: #f4f4f4;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #808080; 
    margin: 0 auto;
    margin-top : 3%;
    margin-bottom : 3%;    
    overflow:auto;   
}

.formulaire {
    display: block;
    text-align: center;
    margin-bottom: 8px;
}

input, textarea {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #808080; 
    border-radius: 5px;
}

input{
    height: 30px;
    width: 200px;
}
textarea{
    height: 100px;
    width: 300px;
}